# ---- MongoDB ----
MONGO_URI=mongodb://localhost:27017/anvi-stay

# ---- JWT ----
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d

# ---- Server ----
PORT=5000

# ---- First Admin (used by seed.js) ----
ADMIN_NAME=Super Admin
ADMIN_EMAIL=admin@anvistay.com
ADMIN_PASSWORD=welisten@wecare
